$brown: #8d6e63;
$orange: #ffab40;
$lightBlue: #eef4f9;

section {
  min-height: 101vh;
  padding: 0 !important;
}

main, #profile-card {
  position: relative;
  z-index: 1;
}

main:before, #profile-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../img/tapiz.jpg');
  opacity: .2;
}

.button-collapse {
  height: 7vh !important;
  color: $brown;
}

.side-nav {
	width: 240px;
	padding-bottom: 0;
}

nav {
  height: 100%;
  overflow-y: none;
}

#nav-logo {
	text-align: center;
  position: absolute;
	line-height: 0px;
	display: block;
  height: 100%;
  width: 100%;
}

.bitton-collapse {
  height: 7vh;
  color: $brown;
  z-index: 999;
  background-color: white;
}

#nav-logo {
	color: $brown;
}

.collection-item {
	color: $brown !important;
	font-weight: 500;
	padding: 2vh 30px !important;
}

.collection {
  margin: 0;
}

.collection .collection-item.active {
  background-color: white;
  border-right: 5px solid $orange;
}

.section-tittle {
	background-color: $brown;
	color: white;
  height: 5em;
  
  h3 {
  	margin-top: 0px;
  	font-weight: 300;
    padding-top: 13px;
  }
}

.flow-text {
	text-align: justify;
	margin: 8vh auto;
}

#profile-card {
	text-align: center;
	height: 30vh;
}

#profile-picture {
	height: 25vh;
  margin-top: 2.5vh;
  border-radius: 3%;
}

#profile-name {
	color: $brown;
	text-align: center;
	position: relative;
  left: -5%;
  top: 20%;
  
  h5 {
  	font-size: 1.50rem;
    line-height: 60%;
    margin: 0;
  }
  
  h6 {
    line-height: 70%;
  }
}

#nav-social-icons {
	margin-top: -5vh;
  margin-bottom: 0;
}

.social {
	color: $brown;
  background-color: $lightBlue;
  padding: 0 10px;
  box-shadow: none;
}

.social:hover {
	background-color: $lightBlue;
	box-shadow: none;
}

#sidebar-name {
  height: 60px;
  
  h5 {
    margin: 5px auto;
  }
  
  p {
    margin: 5px auto;
    font-weight: 400;
  }
}

.medium {
	height: 360px !important;
}

.card-action {
  a {
	  text-transform: none !important;
  }
  p {
    margin: 0;
  }
}

.card-action a:hover {
	color: $orange !important;
}

.horizontal .card-image {
  height: 150px;
  width: 150px;
  
  img {
    margin: 0 auto;
  }
}

.custom-card {
  margin: 8vh auto;
}

table td {
  color: $brown;
  
  a {
    color: $orange;
  }
}

@media only screen and (min-width: 993px) {
	main {
    margin-left: 240px;
  }
}

@media only screen and (min-width: 601px){
	.social i {
    line-height: 20px !important;
	}
	
	nav a.button-collapse i {
    line-height: 45px;
    height: 7vh;
	}
}